<div class="card mb-3">
  <div class="card-header bg-dark text-light pb-0">
    <p class="card-title">Categories</p>
  </div>
  <div class="card-body py-2">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <a href="{{ printf "categories/%s" $name | absURL }}">
        <span class="badge badge-primary">{{ $name }}</span>
      </a>&nbsp;
    {{ end }}
  </div>
</div> 
