// -- -- -- -- --
// _decoration.scss

body {
  background-image: url("../images/funky-lines.png");
}

.shadow-hover { box-shadow: $box-shadow; }

.shadow-hover:hover {
  box-shadow: 0 1rem 3rem rgba($black, .175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


