<div class="card hidden-sm hidden-xs mb-3">
  <div class="card-header bg-dark text-light pb-0">
    <p class="card-title">Friends</p>
  </div>
  <div class="card-body py-2">
    <ul class="archive-list">
      {{ range first 9 .Site.Data.friends }}
      <li><a href="{{ .url }}">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
