{{ if .Params.related_link_ids }}
<div class="card hidden-sm mb-3">
  <div class="card-header bg-dark text-light pb-0">
    <p class="card-title">Related Posts</p>
  </div>
  <div class="card-body py-2">
    <ul class="archive-list">
      {{ range $cur := .Params.related_link_ids }}
      <li>   
        {{ range $.Site.Data.archives }}

          {{- if eq $cur (print .id) -}}
          <a href="{{ .url | absURL }}">{{ .title }}</a>
          {{- end -}}

        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

