<div class="card mb-3">
  <div class="card-header bg-dark text-light pb-0">
    <p class="card-title">Tags</p>
  </div>
  <div class="card-body py-2">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="{{ printf "tags/%s" $name | absURL }}">
        <span class="badge badge-secondary">{{ $name }}</span>
      </a>&nbsp;
    {{ end }}
  </div>
</div> 
