  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ .Key }}">{{ $year }}</div>

  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}
  <div class="pl-3">
    <span class ="anchor-target archive-month" 
          id="{{ $year }}-{{ $month }}">
          {{ $month }} - {{ $year }}</span>

    <div class="pl-3">
      {{ range .Pages }}
      <div class="d-flex flex-row-reverse archive-list">
        <div class="text-right text-nowrap"><time>
            {{ .Date.Format "02 Jan" }}&nbsp;</time></div>
        <div class="mr-auto"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
       </div>
      {{ end }}
     </div>

  </div>
  {{ end }}
