{{ define "main" }}
  <main role="main" class="container-fluid bg-light">
    <section>
      <h4>{{ .Title | default .Site.Title }}</h4>
    </section>

    <article>
      {{ .Content }}
    </article>
  </main>
{{ end }}
